@import 
    'normalize', 
    'fonts', 
    'mixins', 
    'media', 
    'variables', 
    'utils', 
    'globals';

@import
    'blocks/button',
    'blocks/grid',
    'blocks/burger-button',
    'blocks/mobile-overlay',
    'blocks/cross-button',
    'blocks/header',
    'blocks/section',
    'blocks/hero',
    'blocks/puddle-bg',
    'blocks/services',
    'blocks/service-card',
    'blocks/banner',
    'blocks/studies',
    'blocks/process',
    'blocks/team',
    'blocks/team-card'
    ;